@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  /* Color Palette */
  --color-primary: #000000;
  --color-secondary: #F6A7C1;
  --color-secondary-dark: #8a4b62;
  --color-secondary-container: #fdadc7;
  --color-tertiary: #FFF9E6;
  --color-accent: #92E889;
  --color-muted: #9B6B9E;

  /* Surfaces */
  --color-surface: #f9f9f9;
  --color-surface-dim: #dadada;
  --color-surface-bright: #f9f9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container: #eeeeee;
  --color-surface-container-high: #e8e8e8;
  --color-surface-container-highest: #e2e2e2;

  /* On Colors */
  --color-on-surface: #1b1b1b;
  --color-on-surface-variant: #4c4546;
  --color-outline: #7e7576;
  --color-outline-variant: #cfc4c5;

  /* Custom spacing */
  --spacing-margin-mobile: 16px;
  --spacing-margin-desktop: 32px;
}

@layer base {
  body {
    background-color: var(--color-tertiary);
    color: var(--color-on-surface);
    font-family: var(--font-sans);
    overflow-x: hidden;
  }
}

/* Custom utility for hover effects */
@utility card-hover {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}